<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>POST LIST</title>
</head>
<body>
    <h1><%=title%></h1>
    <a> write a post </a>
    <table border = "1">
        <tr>
            <td> number </td>
            <td> writer </td>
            <td> title </td>
            <td> views </td>
            <td> modified date </td>
            <td> posted date </td>
        </tr>
    <% for(var i = 0; i<rows.length; i++){ 
    var data=rows[i];%>
        <tr>
            <td> <%=data.idx%> </td>
            <td> <%=data.name%> </td>
            <td> <%=data.title%> </td>
            <td> <%=data.hit%> </td>
            <td> <%=data.modidate%> </td>
            <td> <%=data.regdate%> </td>
        </tr>
        <%}%>
</body>
</html>